<% layout('layouts/boilerplate')%>
<div class="container">
<div>
   
<div class="grid"></div>
<div class="instructions">
   
        <h3> draw your password</h3>
        <p>
            You can use anywhere from 5 to 25 tiles.
            <br>
            The order in which you draw tiles is important. 
        </p>
   

<div class="container">

<div class="buttons">

<div class="container">
<button class="clear">clear grid</button>
<button id ="signupButton"> save</button>
<form action="/signup" method="POST">
    <input class="username"name="username" placeholder="username"> 
    <input name="password" class="signup">
<button type="submit" > sign up</button>
</form></div></div>
<div class="color-board">
    <h4>pick color</h4>
    <div>
    <select>
    <option value="#F46060">red</option>
    <option value="#F49E4E">orange</option>
    <option value = "#F4E860"> yellow</option>
    <option value = "#5EF3B7"> green</option>
    <option value ="#5D83F4">blue</option>
    <option value ="#CD60F4"> purple</option>
    <option value ="#ffffff">white</option>
</div>
</select>
</div>
</div>
</div>
</div>

</div>


