@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


body {
  background-color: black;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Open Sans;
    font-size: 14px;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    background-color: white;
    padding: 8px;
    border-radius: 30px;

}
.grid {
    display:grid;
    width: 60vh;
    height: 60vh;
    border: solid 20px white;
    margin: 0px;
    padding: 0;
    
}

 p {
     
     font-size: 16px;
 }
.square {
background-color: black;
border: solid white 0.05px;
width: calc(100%/16);
height: 100%;
}

.gridRow {
    margin: 0;
    display: flex;
   
}

.signup{
    display:none;
}


input {
    padding: 0;
    cursor: default;
    display: none;
}

.username {
    display: inline;
    font-size: 16px;
    font-family: Open Sans;
}
select {
    padding: 4px;
    font-family: Open Sans;
    background-color: white;
    font-size: 14px;
    color: black;
    border-radius: 30px;

}
option {
    padding: 0;
    font-family: Open Sans;
    background-color: white;
}
.flex {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
  
   
}
.front {
    z-index: 5;
  
}
.justify{
    display: flex;
    justify-content: center ;
}

h4 {
    padding: 0;
    margin:0;
}
h3{
    text-transform: uppercase;
    font-weight: 800;
}
h1.front {
    z-index: 7;
    color: black;
}
.container {
    display: flex;
    justify-content: center;
}





.color-board {
    display: flex;
    align-items: center;
    border: white solid 2px;
    color: black;
    background-color: white;
    padding: 0;
    border-radius: 20px;
    margin-top: 8px;
    padding: 4px;
    
    /* border: solid 10px white; */
}

form {
    margin: 0;
}


.instructions {
    border-radius: 30px;
    background-color: white;
    border: solid black 5px;
    margin-top: 12px;
    padding: 12px;
}



button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-family: Open Sans;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    /* margin-right: 8px; */
    transition: 0.3s;
    border: white 1px solid;
    height: 100%;

}
button:hover{
    transform: scale(0.9);
    background-color: #F4E860;
    color: black;
    border: none;
}
canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
    left:0;

}



.drawing {
    position: absolute;
   
}
.buttons {
    margin-top: 8px;
}